PORT=
NODE_ENV=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SESSION_SECRET=
BASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
COCKROACH_DB_USER=
COCKROACH_DB_PASSWORD=
COCKROACH_DB_NAME=
COCKROACH_DB_URL=
APP_DATA_SOURCE_TYPE=