<div class="product-container">
  <h2>Product Management</h2>

  <div class="add-bar">
    <mat-form-field>
      <mat-label>New Product Name (e.g. 8DAB)</mat-label>
      <input matInput [(ngModel)]="newProductName">
    </mat-form-field>
    <button matButton (click)="addProduct()">Add Product</button>
  </div>

  <div class="flex flex-gap-1">
    <div class="flex-grow-1">
      <app-ui-data-table-component #myTable [fetchFn]="fetchProducts" [pageSize]="10" [refresh$]="tableRefresh$"
        (rowClick)="openSidebar($event)">
        <ng-template appTableCellDef="actions" let-row>

          <button matButton (click)="myTable.openDialog($event, row, toggleDialogData).then(toggleActive)">Zmień
            status</button>
          <button matButton
            (click)="myTable.openDialog($event, row, deleteDialogData).then(deleteProduct)">Usuń</button>
        </ng-template>

      </app-ui-data-table-component>
    </div>
    <router-outlet name="sidebar"></router-outlet>

  </div>

</div>