<div class="product-container">
  <h2>Product Management</h2>

  <div class="add-bar">
    <mat-form-field>
      <mat-label>New Product Name (e.g. 8DAB)</mat-label>
      <input matInput [(ngModel)]="newProductName">
    </mat-form-field>
    <button matButton (click)="addProduct()">Add Product</button>
  </div>

  <app-ui-data-table-component [fetchFn]="fetchProducts" [displayedColumns]="displayedColumns" [pageSize]="10"
    [refresh$]="tableRefresh$">

    <ng-template appTableCellDef="actions" let-row>
      <button matButton (click)="$event.stopPropagation(); toggleActive(row)">Zmień status</button>
      <button matButton (click)="$event.stopPropagation(); deleteProduct(row)">Usuń</button>
    </ng-template>

    <ng-template appTableCellDef="CreatedAt" let-row>{{ row.CreatedAt | date:'short' }}</ng-template>
    <ng-template appTableCellDef="UpdatedAt" let-row>{{ row.UpdatedAt | date:'short' }}</ng-template>

  </app-ui-data-table-component>

</div>