<div class="product-container">
  <h2>Product Management</h2>

  <div class="add-bar">
    <button [routerLink]="['./', { outlets: { sidebar: ['add'] } }]" routerLinkActive="active" matButton>
      Add Product
    </button>
  </div>

  <app-list-sidebar-layout>
    <app-ui-data-table-component #myTable [fetchFn]="fetchProducts" [pageSize]="10" [refresh$]="tableRefresh$"
      (rowClick)="openSidebar($event)">
      <ng-template appTableCellDef="actions" let-row>
        <button matButton (click)="myTable.openDialog($event, row, toggleDialogData).then(toggleActive)">Zmień
          status</button>
        <button matButton (click)="myTable.openDialog($event, row, deleteDialogData).then(deleteProduct)">Usuń</button>
      </ng-template>
    </app-ui-data-table-component>
  </app-list-sidebar-layout>

</div>