<nav style="padding: 10px; background: #eee">


    <a mat-button class="menu-item" routerLink="/">
        <mat-icon>home</mat-icon>
        {{ 'MENU.HOME' | transloco }}
    </a>
    @if(authService.hasRole('admin')){
    <a mat-button [matMenuTriggerFor]="adminMenu" class="menu-item">
        <mat-icon>admin_panel_settings</mat-icon>
        {{ 'MENU.ADMIN' | transloco }}
        <mat-icon>expand_more</mat-icon>
    </a>
    }

    <mat-menu #adminMenu="matMenu">
        <a mat-menu-item [routerLink]="'dev/context-menu-registry'">
            <mat-icon>settings</mat-icon>
            <span>{{ 'MENU.CONTEXT_MENU_REGISTRY' | transloco }}</span>
        </a>
    </mat-menu>

    @for (item of filteredMenu(); track item.label) {
    @if (item.menuItems && item.menuItems.length > 0) {
    <button mat-button [matMenuTriggerFor]="subMenu" class="menu-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label | transloco }}
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #subMenu="matMenu">
        @for (subItem of item.menuItems; track subItem.label) {
        <a mat-menu-item [routerLink]="subItem.link">
            <mat-icon>{{ subItem.icon }}</mat-icon>
            <span>{{ subItem.label | transloco }}</span>
        </a>
        }
    </mat-menu>
    } @else {
    <a mat-button [routerLink]="item.link" class="menu-item" routerLinkActive="active">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label | transloco }}
    </a>
    }
    }

</nav>