<main class="main">
  <div class="content">
    <div class="left-side">
      <nav style="padding: 10px; background: #eee" *ngIf="authService.isLoggedIn()">
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>

        @for (item of dynamicMenu(); track item.label) {
        <a [routerLink]="item.link">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
        }
        @if (authService.isLoggedIn()) {
        <button (click)="onLogout()">Wyloguj</button>
        } @else {
        <a routerLink="/login">Zaloguj się</a>
        }
      </nav>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">{{ currentTitle() }}</div>
  </div>
  <div class="full-width">
    <router-outlet />
  </div>
</main>