<div class="flex-grow-1">
    <ng-content></ng-content>
</div>
@if(!isSidebarActive()){
<div class="placeholder">
    <ng-content select="[sidebarPlaceholder]">
        <mat-card appearance="outlined">
            <mat-card-header>Wybierz element</mat-card-header>
            <mat-card-content>Zaznacz coś z listy, aby zobaczyć szczegóły.</mat-card-content>
        </mat-card>
    </ng-content>
</div>
}
<router-outlet class="sidebar" name="sidebar" (activate)="onActivate()" (deactivate)="onDeactivate()"></router-outlet>