<div class="add-bar">
    <button [routerLink]="addRowNavigation()" routerLinkActive="active" matButton data-testid="smart-list-add-button">
        {{ addLabel() }}
    </button>
    @if (exportData.length > 0) {
    <app-export-button 
        [data]="exportData" 
        [columns]="exportColumns" 
        [filename]="exportFilename">
    </app-export-button>
    }
</div>

<app-ui-data-layout-smart-list-layout>
    <app-ui-data-table-component #myTable [fetchFn]="fetchFn" [pageSize]="10" [refresh$]="tableRefresh$"
        [externalCellDefs]="externalCellDefs" (rowClick)="onRowClick($event)">
        <ng-content></ng-content>
    </app-ui-data-table-component>
</app-ui-data-layout-smart-list-layout>