<mat-card appearance="outlined" data-testid="sidebar-add-card">
    <mat-card-header>
        <mat-card-title>Dodaj nowy element</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="itemForm" (ngSubmit)="addItem()">
            @for (control of itemForm.controls | keyvalue: keepOrder; track control.key) {

            @if(getControlType(control.key) === 'checkbox') {
            <div class="full-width">
                <mat-checkbox [formControlName]="control.key" [attr.data-testid]="'input-' + control.key">
                    {{ control.key | titlecase }}
                </mat-checkbox>
            </div>
            } @else if(getControlType(control.key) === 'hidden') {
            <input [formControlName]="control.key" [type]="getControlType(control.key)">
            } @else if(getControlType(control.key) === 'relation') {
            <app-filterable-select 
                [formControlName]="control.key" 
                [label]="fieldConfigs[control.key].label || control.key" 
                [fetchFn]="fieldConfigs[control.key].fetchFn!"
                [fetchByIdFn]="fieldConfigs[control.key].fetchByIdFn" 
                [displayKey]="fieldConfigs[control.key].displayKey || 'Name'" 
                [valueKey]="fieldConfigs[control.key].valueKey || 'ID'">
            </app-filterable-select>
            } @else {
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ control.key | titlecase }}</mat-label>
                <input matInput [formControlName]="control.key" [type]="getControlType(control.key)"
                    [placeholder]="control.key" [attr.data-testid]="'input-' + control.key">

                @if (itemForm.get(control.key)?.invalid && itemForm.get(control.key)?.touched) {
                <mat-error>Pole {{ control.key }} jest niepoprawne</mat-error>
                }
            </mat-form-field>
            }

            }
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button matButton (click)="addItem()" data-testid="sidebar-add-save-button">Dodaj</button>
        <button matButton (click)="closeSidebar()" data-testid="sidebar-add-cancel-button">Anuluj</button>
    </mat-card-actions>

</mat-card>