<div class="flex-grow-3">
    <ng-content></ng-content>
</div>
@if(!isSidebarActive()){
<div class="placeholder">
    <ng-content select="[sidebarPlaceholder]">
        <mat-card appearance="outlined">
            <mat-card-header>{{ 'SMART_LIST.SELECT_ITEM' | transloco }}</mat-card-header>
            <mat-card-content>{{ 'SMART_LIST.SELECT_HINT' | transloco }}</mat-card-content>
        </mat-card>
    </ng-content>
</div>
}
<div class="sidebar flex-grow-1">
    <router-outlet name="sidebar" (activate)="onActivate()" (deactivate)="onDeactivate()"></router-outlet>
</div>