@if(item()){
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Szczegóły</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        @for (entry of item() | keyvalue: keepOrder; track entry.key) {
            @if(entry.key !== 'isDeleted' && !entry.key.startsWith('_')) {
                <mat-card-subtitle> 
                    <strong>{{ entry.key | titlecase }}:</strong> {{ formatValue(entry.key, entry.value) }}
                </mat-card-subtitle>
            }
        }
    </mat-card-content>

    <mat-card-actions>
        <button matButton (click)="closeSidebar()">Zamknij</button>
        <button matButton (click)="editItem()">Edytuj</button>
        <button matButton (click)="deleteItem()">Usuń</button>
    </mat-card-actions>
</mat-card>
}