@if(product()){
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Szczegóły produktu</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-card-subtitle> ID: #{{ product()?.ProductID }}</mat-card-subtitle>
        <mat-card-subtitle> Nazwa: {{ product()?.Name }}</mat-card-subtitle>
        <mat-card-subtitle> Status: {{ product()?.Active ? 'Aktywny' : 'Nieaktywny' }}</mat-card-subtitle>
        <mat-card-subtitle> Utworzono: {{ product()?.CreatedAt }}</mat-card-subtitle>
        <mat-card-subtitle> Zaktualizowano: {{ product()?.UpdatedAt }}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-actions>
        <button matButton (click)="closeSidebar()">Zamknij</button>
        <button matButton (click)="editProduct()">Edytuj</button>
        <button matButton (click)="deleteProduct()">Usuń</button>
    </mat-card-actions>
</mat-card>
}